# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.egg-link

# Virtual environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
